<html>
  <head>
    <style>
      #text{width:100%; font-size: 15px; padding: 5px; display: block;}
    </style>
    <link href="css/bootstrap.css" rel="stylesheet">	 
	<link href="css/main.css" rel="stylesheet">
	
  </head>
  
  <body>
  <div class="row espacio" >
	<div class="col-md-9">
	  <div > Chat - SYTW</div>
	</div>
	<div class="col-md-3">
	  <a id="lgout" class="btn btn-small btn-info bye" href="/logout">Logout</a>
	</div>
  </div>
  <div class="row">
	<div class="col-md-8">
	  <div class="chateando borde">	  
		<div id="chat"></div>			
	  </div>
	  
	  <div class="chateando1 borde">	  
		<div id="chat"></div>
			<p> ¡Chatea con tus amigos!</p>
			<input id="text" placeholder="Write then press Enter." autofocus />
			<button id="enviar" type="submit" class="btn btn-success btn-small bye">Enviar</button>		
	  </div>
	
	</div>
	<div class="col-md-4">
	
	<div class="usuarios borde">	
		<p>  Usuarios Conectados </p> <br>
		<div id="user"></div>
		
	  </div>
	
	</div>
  </div>
				
				
	
    
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src= "/js/chat.js"></script>
    <script src= "/js/user.js"></script>
  </body>
  
</html>


<!--<a class="btn btn-small btn-info bye" href="/logout">Logout</a>-->
